@font-face {
    font-family:BebasNeue-Regular;
    src: url(../fuentes/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family:Gibson;
    src: url(../fuentes/Gibson.ttf) format('truetype');
}
@font-face {
    font-family:Gibson-Bold;
    src: url(../fuentes/Gibson-bold.ttf);
}

@font-face {
    font-family:Montserrat-Light;
    src: url(../fuentes/Montserrat-Light.ttf);
}
