/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- WEB LOADER -------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
@media screen and (max-width: 1290px){
    .logoWelcome {
        width: 30%;
    }
}
@media screen and (max-width: 615px){
    .logoWelcome {
        width: 35%;
    }
}
@media screen and (max-width: 419px){
    .logoWelcome {
        margin: 50% auto 2% auto;
        width: 40%;
    }
}

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- MENU BARS --------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
@media screen and (max-width: 720px){
    .menu{
        opacity: 0;
        transition: 1s ease-in-out;
        display: none;
    }
    .toggle{
        opacity: 1;
    }
}


    
/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- INDEX ------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .SPECT-tittle-Index-container {
        margin-top: 15%;
    }
    .logo-container{
        margin-left: 10%;
    }
    .menu{
        margin-right: 5%;
    }

    .index-tittle {
        margin: 2% auto 3% auto;
    }
    .web-page-index-img {
        width: 40% !important;
    }
    .tittle {
        font-size: 30px;
        padding: 0.5%;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    .logo-container {
        margin-left: 15%;
    }
    .menu {
        margin-right: 10%;
    }
    .container-slider {
        height: 640px;
    }
    .index-tittle {
        margin: 3% auto 3% auto;
    }
    .A-image {
        width: 30%;
    }
    .footer-links img {
        width: 30px;
    }
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .menu a {
        font-size: 15px;
    }
    .SPECT-tittle-Index-container {
        margin-top: 20%;
    }
    .tittle {
        width: 30%;
        font-size: 30px;
    }
    .A-element {
        font-size: 14px;
    }
    .A-image {
        width: 25%;
    }
    .A-element-button {
        font-size: 15px;
        width: 15%;
    }
    .B-element {
        font-size: 14px;
    }
    .PC-index-img {
        width: 30% !important;
    }
    .B-element-button {
        width: 15%;
        font-size: 15px;
    }
    .footer {
        font-size: 12px;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    .container-header {
        height: 80px;
    }
    .menu {
        height: 80px;
    }
    .menu a {
        font-size: 12px;
    }
    .logo-container {
        margin-left: 12%;
        height: 80px;
    }
    .logo-header {
        height: 50px;
    }
    .SPECT-tittle-Index h1 {
        font-size: 45px;
    }
    .SPECT-tittle-Index h2 {
        font-size: 20px;
    }
    .container-slider {
        height: 530px;
    }
    .slider-section {
        margin-top: 80px;
    }
    .tittle {
        font-size: 20px;
    }
    .A-tittle {
        font-size: 40px;
    }
    .A-element {
        font-size: 12px;
    }
    .A-element-button {
        font-size: 12px;
    }
    .B-tittle {
        font-size: 40px;
    }
    .B-element {
        font-size: 12px;
    }
    .B-element-button {
        font-size: 12px;
    }
    .footer-links img {
        width: 25px;
    }
    .footer {
        font-size: 11px;
    }
    .copyright {
        font-size: 11px;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .container-slider {
        height: 500px;
    }
    .A-image {
        width: 30%;
    }
    .PC-index-img {
        width: 35% !important;
        margin: auto auto 2% auto;
    }
    .web-page-index-img {
        width: 45% !important;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    .Sector-A {
        min-height: 60vh;
    }
    .Sector-B {
        min-height: 60vh;
    }
    .batocera-index-img {
        width: 35% !important;
    }
    .PC-index-img {
        width: 40% !important;
    }
    .web-page-index-img {
        width: 60% !important;
    }
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .SPECT-tittle-Index-container {
        margin-top: 30%;
    }
    .SPECT-tittle-Index h1 {
        font-size: 40px;
    }
    .SPECT-tittle-Index h2 {
        font-size: 18px;
    }
    .batocera-index-img {
        width: 40% !important;
    }
    .A-element-button {
        font-size: 12px;
        width: 20%;
        padding: 2%;
    }
    .PC-index-img {
        width: 50% !important;
    }
    .web-page-index-img {
        width: 70% !important;
    }
    .B-element-button {
        width: 20%;
        font-size: 12px;
        padding: 2%;
    }
}


/*---------------------------------419 WIDTH -------------------------*/
/* (SM-S9/S8) */
@media screen and (max-width: 419px){
    .container-header {
        height: 70px;
    }
    .logo-header {
        height: 40px;
    }
    .logo-container {
        height: 75px;
    }
    .toggle {
        right: 50px;
        width: 40px;
        height: 40px;
        top: 15px;
    }
    .toggle span:nth-child(1) {
        right: 7px;
    }
    .toggle span:nth-child(2) {
        right: 18px;
    }
    .toggle.active span:nth-child(2) {
        right: 7px;
    }
    .menu-elements nav a {
        font-size: 14px;
    }
    .slider-section {
        margin-top: 70px;
    }
    .container-slider {
        height: 460px;
    }
    .SPECT-tittle-Index-container {
        margin-top: 40%;
    }
    .tittle {
        width: 50%;
    }
    .Sector-A {
        min-height: unset;
    }
    .A-tittle {
        font-size: 30px;
    }
    .A-element {
        font-size: 10px;
    }
    .A-image {
        width: 50%;
        margin: 2% auto;
    }
    .batocera-index-img {
        width: 60% !important;
    }
    .A-element-button {
        font-size: 12px;
        width: 35%;
        padding: 4%;
    }
    .Sector-B {
        min-height: unset;
    }
    .B-tittle {
        font-size: 30px;
    }
    .B-element {
        font-size: 10px;
    }
    .PC-index-img {
        width: 75% !important;
    }
    .B-element-button {
        font-size: 12px;
        width: 35%;
        padding: 4%;
    }
    .web-page-index-img {
        width: 85% !important;
    }
    .footer {
        font-size: 9px;
    }
    .copyright {
        font-size: 9px;
    }
}

/* ------------------------------------------------------------------------------------------ */
/* ---------------------------------------- PRODUCTS ---------------------------------------- */
/* ------------------------------------------------------------------------------------------ */

/*---------------------------------1366 WIDTH-------------------------*/
@media screen and (max-width: 1366px){
    .SPECT-tittle-products-container {
        margin-top: 15%;
    }
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    .A-image {
        width: 25%;
    }
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    /* NOTHING */
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    .SPECT-tittle-products h1 {
        font-size: 45px;
    }
    .SPECT-tittle-products h2 {
        font-size: 20px;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .SPECT-tittle-products-container {
        margin-top: 20%;
    }
    .A-image {
        width: 30%;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    /* NOTHING */
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .SPECT-tittle-products-container {
        margin-top: 30%;
    }
}

/*---------------------------------419 WIDTH -------------------------*/
/* (SM-S9/S8) */
@media screen and (max-width: 419px){
    
}

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    
    .button_center{
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        margin: auto;
        text-align: center;
        width: 15%;
        transition: all 500ms ease;
    }

    .A_element_button{
        margin-top: 10px;
        color: #ffff;
        background-color: black;
        font-weight: bold;
        font-family:Gibson-Bold;
    }

    /*SERVICES*/
    /*PRODUCTS*/

    /*SERVICES*/
    /*WEBPAGE*/
    .element_A_imgarea_WEBPAGE{
        grid-column: 1/5;
        width: 70%;
        display: block;
        margin: auto;
    }
    .element_A_tittle_WEBPAGE{
        margin-top: 30px;
        font-family:Gibson-Bold;
        color: #ffff;
        background-color: black;
        width: 100%;
        padding: 10px;
        border-radius: 7px;
        font-size: 40px;
        font-weight: bold;
        z-index: 19;
        text-align: center;
        margin-bottom: 30px;
    }

    /*GRAPHIC DESIGN*/
    .element_B_tittle{
        font-family:Gibson-Bold;
        color: #ffff;
        background-color:var(--ElColorFresa);
        padding: 10px;
        border-radius: 7px;
        font-size: 40px;
        font-weight: bold;
        display: block;
        margin: auto;
    }
    .element_B_description_text{
        color: #ffff;
        background-color:var(--ElColorFresa);
        font-size: 18px;
        border-radius: 15px;
        width: 30%;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
    }
    .element_B_img{
        display: block;
        margin: auto;
        border-radius: 7px;
        margin-bottom: 20px;
        width: 55%;
    }

    /*PS3 SERVICE*/
    .element_A_tittle{
        width: 65%;
    }

    /*CONTACT US*/
    /*Description*/
    .about_us_info{
        padding: 50px;
    }.photo{
        width: 80%;
    }

    /*Form*/
    .contactus_form{
        padding: 50px;
    }
    .contactus_form h1{
        width: 80%;
    }
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){

    /*THE FLOATING TITTLE INDEX*/
    .SPECT_tittle{
        margin-top: 15%;
    }.SPECT_tittle_txt h1{
        font-size: 70px;
    }.SPECT_tittle_txt{
        font-size: 30px;
    }

    /*THE FLOATING TITTLE SERVICES*/
    .SPECT_tittle_servicios{
        margin-top: 15%;
    }.SPECT_tittle_txt_servicios h1{
        font-size: 70px;
    }.SPECT_tittle_txt_servicios{
        font-size: 30px;
    }

    /*THE FLOATING TITTLE CONTACT US*/
    .SPECT_tittle_contacto{
        margin-top: 15%;
    }
    .SPECT_tittle_txt_contacto h1{
        font-size: 70px;
    }
    .SPECT_tittle_txt_contacto{
        font-size: 30px;
    }

    /*-----------PRODUCTS-----------*/
    /*BATOCERA*/
    .servicio_titulo{
        width: 70%;
    }
    .element_B_right_Batocera{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .Batocera_game_list_mobile_container{
        margin: 20px auto 40px auto;
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .titulo_links_contacto{
        font-size: 50px;
    }
    .links_contacto_servicio {
        grid-template-columns: repeat(8 ,1fr);
        height: 120px;
    }
    .link_correo {
        grid-column: 2/4;
    }
    .link_whatsapp {
        grid-column: 4/6;
    }
    .link_messenger {
        grid-column: 6/8;
    }
    .go_back{
        margin: 40px auto 30px auto;
    }

    /*-----------SERVICES-----------*/

    /*GRAPHIC DESIGN*/
    .graphic_design{
        width: 60%;
        text-align: center;
    }

    /*PS3 SERVICE*/

    .element_A_container{
        margin-top: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        grid-template-rows: 1fr;
    }
    /*ABOUT US*/
    .about_us_info{
        padding: 30px;
    }
    .contactus_form{
        padding: 30px;
    }
    .contactus_form h1{
        width: 90%;
    }

    .contactus_contenedor_seccion_A h1{
        width: 100%;
    }
    .contactanos{
        width: 80%;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    
    .button_center{
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        margin: auto;
        text-align: center;
        width: 20%;
        transition: all 500ms ease;
    }

    .A_element_button{
        margin-top: 10px;
        color: #ffff;
        background-color: black;
        font-weight: bold;
        font-family:Gibson-Bold;
    }

    /*-----------SERVICES-----------*/
    /*PS3 SERVICE*/
    .services_grid_button{
        width: 60%;
    }
    .element_A_tittle{
        margin-top: 20px;
        width: 90%;
    }

    /*SSD SERVICE*/
    .element_B_right{
        visibility: hidden;
        display: none;
        transition: 1s ease-in-out;
    }
    .element_B_right_responsive{
        visibility:visible;
    }
    .toggle_ssd_options{
        opacity: 1;
    }

    /*PS2 Service*/
    .PS2_txtarea_1 {
        grid-row: 2/3;
    }
    .PS2_txtarea_2 {
        grid-row: 3/4;
    }

    /*-------------------------------------PRODUCTS-------------------------------------*/
    /*BATOCERA*/
    .servicio_titulo{
        width: 70%;
        padding: 5px;
    }
    .imagen_service{
        width:70%;
        grid-column: 1/5;
    }
    .descripcion{
        font-size: 20px;
        margin: 5% 10% 5% 10%;
        grid-column: 1/5;
    }

    /*-------------------------------------ABOUT US-------------------------------------*/
    .about_us_info{
        padding: 20px;
    }
    .contactus_form{
        padding: 20px;
    }

    .contactus_contenedor_seccion_A{
        padding: 50px;
    }
    .contactus_contenedor_seccion_A h1{
        width: 80%;
    }
    .contactanos{
        width: 90%;
    }

    /*-------------------------------------CONTACT US-------------------------------------*/
    .photo{
        margin: 10% auto auto auto;
    }

    .contactus_container{
        margin: 5% 15%;
        display: block;
        align-items: center;
    }
    
    .contact_us_media_img{
        width: 70%;
    }

    .contact_us_media{
        width: 100%;
    }
    .contact_us_media li{
        margin: 5% auto;
    }
    
    .contact_us{
        width: 20%;
        display: block;
    }

    .contact_us_photo{
        visibility: hidden;
        display: none;
    }
    
    .contactus_form{
        width: 100%;
        background-image: url("../images/form_partner_photo.jpg");
        background-position:left top;
        margin: 15% auto;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){

    /*THE FLOATING TITTLE INDEX*/
    .SPECT_tittle{
        margin-top: 30%;
    }.SPECT_tittle_txt h1{
        font-size: 60px;
    }.SPECT_tittle_txt{
        font-size: 27px;
    }

    /*THE FLOATING TITTLE SERVICES*/
    .SPECT_tittle_servicios{
        margin-top: 30%;
    }.SPECT_tittle_txt_servicios h1{
        font-size: 60px;
    }.SPECT_tittle_txt_servicios{
        font-size: 27px;
    }

    /*THE FLOATING TITTLE CONTACT US*/
    .SPECT_tittle_contacto{
        margin-top: 25%;
    }
    .SPECT_tittle_txt_contacto h1{
        font-size: 60px;
    }
    .SPECT_tittle_txt_contacto{
        font-size: 27px;
    }

    /*INDEX*/
    .titulo{
        font-family:Gibson-Bold;
        color: black;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        background-color: #e9e2da;
        border-radius: 15px;
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }

    /*SERVICES*/
    .titulo_services{
        font-family:Gibson-Bold;
        color: black;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        background-color: #e9e2da;
        border-radius: 15px;
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }
    /*WEBPAGE*/
    .element_A_imgarea_WEBPAGE{
        grid-column: 1/5;
        width: 80%;
        display: block;
        margin: auto;
    } 

    /*GRAPHIC DESIGN*/
    .graphic_design{
        width: 70%;
    }
    .element_B_description_text{
        width: 40%;
    }
    .element_B_img{
        width: 65%;
    }
    .services_center_button{
        width: 25%;
    }

    /*PS3 SERVICE*/
    .element_A_tittle{
        width: 100%;
    }
    .container_slider_services{
        width: 90%;
    }

    /*PS2 Service*/
    .element_A_img_PS2 {
        grid-row: 1/4; 
    }

    /*ABOUT US*/
    .contactus_contenedor{
        grid-template-rows: repeat(4, 1fr);
    }
    .about_us_info{
        padding: 50px;
    }
    .photo{
        width: 60%;
    }
    .contactus_form{
        grid-column: 1/5;
        grid-row: 3/5;
        padding: 50px;
    }
    .contactus_form h1{
        width: 80%;
        margin-bottom: 20px;
    }
    .contactus_contenedor_seccion_A{
        background: #303C54;
        color: #ffff;
        border-radius:0 0 80px 80px;
        grid-column: 1/5;
        grid-row: 1/3;
        text-align: center;
    }
    .contactus_contenedor_seccion_A h1{
        width: 90%;
    }
    .contactanos{
        width: 100%;
    }
    .contactanos ul li a{
        color: #000000;
        width: 60%;
        border:1px solid #303C54;
    }

    /*-------------------------------------CONTACT US-------------------------------------*/

    .contact_us_media_img {
        width: 100%;
    }
}
/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    /*SERVICES*/
    /*WEBPAGE*/
    .element_A_container_WEBPAGE{
        background-color: #CAD3E6;
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .element_A_imgarea_WEBPAGE{
        grid-column: 1/5;
        width: 80%;
        display: block;
        margin: auto;
    }
    .element_A_description_WEBPAGE{
        font-size: 18px;
        color: white;
        background-color:var(--ElColorFresa);
        border-radius: 15px;
        padding: 15px;
        text-align: center;
        width: 75%;
        display: block;
        margin: 15px auto auto auto;
    }
    /*PC SERVICE*/
    .PC_service{
        width: 60%;
    }

    /*PS2 Service*/
    .element_A_img_PS2 {
        width: 100%;
    }

    /*-------------------------------------CONTACT US-------------------------------------*/
    .photo {
        width: 70%;
    }

}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    
    /*-----------SERVICES-----------*/
    .titulo_services{
        font-family:Gibson-Bold;
        color: black;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        background-color: #e9e2da;
        border-radius: 15px;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }

    /*WEBPAGE*/
    .element_A_imgarea_WEBPAGE{
        grid-column: 1/5;
        width: 95%;
        display: block;
        margin: auto;
    }
    .element_A_tittle_WEBPAGE{
        margin-top: 30px;
        font-family:Gibson-Bold;
        color: #ffff;
        background-color: black;
        width: 100%;
        padding: 10px;
        border-radius: 7px;
        font-size: 35px;
        font-weight: bold;
        z-index: 19;
        text-align: center;
        margin-bottom: 30px;
    }
    .element_A_description_WEBPAGE{
        font-size: 18px;
        color: white;
        background-color:var(--ElColorFresa);
        border-radius: 15px;
        padding: 15px;
        text-align: center;
        width: 75%;
        display: block;
        margin: 15px auto auto auto;
    }
    
    /*GRAPHIC DESIGN*/
    .graphic_design{
        width: 90%;
    }
    .element_B_description_text{
        width: 50%;
    }
    .element_B_img{
        width: 80%;
    }
    .services_center_button{
        width: 25%;
    }

    /*PS3 SERVICE*/
    .element_A_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .PS3_txtarea_1{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .PS3_txtarea_2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .element_A_tittle{
        width: 80%;
    }
    .services_grid_button{
        width: 40%;
    }
    .services_button_element_A{
        font-size: 16px;
    }
    /*SLIDER*/
    .container_slider_services{
        grid-column: 1/3;
        grid-row: 2/4;
    }

    /*PS2 Service*/
    .PS2_txtarea_1 {
        grid-row: 1/1;
        grid-column: 1/3;
    }
    .element_A_img_PS2 {
        grid-row: 2/4; 
        grid-column: 1/3;
        width: 90%;
    }
    .PS2_txtarea_2 {
        grid-row: 4/4;
        grid-column: 1/3;
    }

    /*-----------PRODUCTS-----------*/
    .servicio_titulo {
        width: 80%;
        padding: 2px;
        font-size: 40px;
    }
    .descripcion {
        font-size: 18px;
        margin: 2% 7% 2% 7%;
        grid-column: 1/5;
    }

    /*-----------ABOUT US-----------*/
    .about_us_info{
        padding: 30px;
    }.photo{
        width: 80%;
    }
    .contactus_form{
    padding: 30px;
    }.contactus_form h1{
    width: 90%;
    }

    /*-----------GENERAL-----------*/
    .titulo_links_contacto {
        font-size: 40px;
    }
    .correo_img{
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }
    .whatsapp_img{
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }
    .messenger_img {
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }

    /*-------------------------------------CONTACT US-------------------------------------*/
    .contactus_container {
        margin: 5% 5%;
    }
}

/*---------------------------------419 WIDTH (SM-S9/S8)-------------------------*/
@media screen and (max-width: 419px){
    /*THE FLOATING TITTLE INDEX*/
    .SPECT_tittle{
        margin-top: 60%;
    }.SPECT_tittle_txt h1{
        font-size: 50px;
    }.SPECT_tittle_txt{
        font-size: 27px;
    }

    /*THE FLOATING TITTLE SERVICES*/
    .SPECT_tittle_servicios{
        margin-top: 60%;
    }.SPECT_tittle_txt_servicios h1{
        font-size: 50px;
    }.SPECT_tittle_txt_servicios{
        font-size: 27px;
    }

    /*THE FLOATING TITTLE CONTACT US*/
    .SPECT_tittle_contacto{
        margin-top: 60%;
    }
    .SPECT_tittle_txt_contacto h1{
        font-size: 50px;
    }
    .SPECT_tittle_txt_contacto{
        font-size: 27px;
    }

    /*-----------INDEX-----------*/
    .titulo{
        font-family:Gibson-Bold;
        color: black;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
        background-color: #e9e2da;
        border-radius: 15px;
        width: 80%;
        margin: auto auto 30px auto;
        padding: 3px;
    }

    /*ELEMENT (A)*/
    .A_tittle{
        font-family:Gibson-Bold;
        color: black;
        font-size: 50px;
        font-weight: bolder;
        width: 100%;
        line-height:100%;
    }
    .A_image{
        object-fit: cover;
        width: 75%;
        border-radius: 5px;
        display: block;
        margin: auto;
    }
    .button_center{
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        margin: auto;
        text-align: center;
        width: 40%;
        transition: all 500ms ease;
    }
    .A_element_button{
        margin-top: 20px;
        color: #ffff;
        background-color: black;
        font-weight: bold;
        font-family:Gibson-Bold;
    }
    /*ELEMENT (B)*/
    .B_tittle{
        font-family:Gibson-Bold;
        color: #ffff;
        font-size: 50px;
        font-weight: bolder;
        width: 100%;
        line-height:100%;
    }
    .B_image{
        border-radius: 15px;
        object-fit: cover;
        width: 90%;
        display: block;
        margin: 30px auto 30px auto;
    }
    .B_element_button{
        background-color: #ffff;
        color: black;
        font-family:Gibson-Bold;
        margin-top: 20px;
    }
    
    /*-----------PRODUCTS-----------*/
    .servicio_titulo {
        width: 90%;
    }
    .descripcion {
        font-size: 15px;
    }
    .imagen_service {
        width:90%;
    }

    /*-----------SERVICES-----------*/
    /*Se usa el mismo floating que en PRODUCTS*/


    /*SERVICES*/
    .titulo_services{
        font-family:Gibson-Bold;
        color: black;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        background-color: #e9e2da;
        border-radius: 15px;
        width: 70%;
        margin: auto;
        margin-bottom: 30px;
    }

    /*WEBPAGE*/
    .element_A_imgarea_WEBPAGE{
        grid-column: 1/5;
        width: 100%;
        display: block;
        margin: auto;
    }
    .element_A_tittle_WEBPAGE{
        margin-top: 30px;
        font-family:Gibson-Bold;
        color: #ffff;
        background-color: black;
        width: 80%;
        display: block;
        margin: auto;
        padding: 10px;
        border-radius: 7px;
        font-size: 35px;
        font-weight: bold;
        z-index: 19;
        text-align: center;
        margin-bottom: 30px;
    }
    .element_A_description_WEBPAGE{
        font-size: 15px;
        color: white;
        background-color:var(--ElColorFresa);
        border-radius: 15px;
        padding: 15px;
        text-align: center;
        width: 85%;
        display: block;
        margin: 15px auto auto auto;
    }

    .services_grid_button{
        cursor: pointer;
        text-decoration: none;
        padding: 7px 16px;
        border-radius: 5px;
        display: block;
        margin: auto;
        text-align: center;
        width: 40%;
        transition: all 500ms ease;
    }
    .services_button_element_A{
        margin-top: 10px;
        color: black;
        background-color: #ffff;
        font-weight: bold;
        font-size: 12px;
    }
    .services_center_button{
        cursor: pointer;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        display: block;
        margin: auto;
        text-align: center;
        width: 15%;
        transition: all 500ms ease;
    }

    /*GRAPHIC DESIGN*/
    .graphic_design{
        width: 90%;
        font-size: 35px;
    }
    .element_B_description_text{
        width: 50%;
        font-size: 15px;
    }
    .element_B_img{
        width: 90%;
    }
    .services_center_button{
        width: 35%;
    }

    /*PS3 SERVICE*/
    .element_A_container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .PS3_txtarea_1{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .PS3_txtarea_2{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .element_A_tittle{
        width: 100%;
        font-size: 37px;
    }

    .services_grid_button{
        width: 40%;
    }

    .services_button_element_A{
        font-size: 16px;
    }
    /*SLIDER*/
    .container_slider_services{
        grid-column: 1/3;
        grid-row: 2/4;
    }

    /*PC SERVICE*/
    .PC_service{
        width: 80%;
    }
    .element_B_right_responsive{
        grid-column: 2/5;
    }

    /*PS2 Service*/
    .element_A_img_PS2 {
        width: 100%;
    }
    .element_A_description {
        font-size: 15px;
    }
    .toggle_ssd_options {
        top: 157px;
    }

    /*WII SERVICE*/
    .Wii_tittle {
        width: 90%;
        margin-bottom: 15%;
    }
    .element_B_tittle {
        font-size: 37px;
        text-transform: uppercase;
    }
    .element_B_description_text {
        font-size: 15px;
        width: 70%;
        margin: 10px auto 20px auto;
        padding: 15px;
    }

    /*-----------ABOUT US-----------*/
    .contactus_contenedor{
        grid-template-rows: repeat(4, 1fr);
    }
    .about_us_info{
        padding: 15px;
    }.photo{
        width: 90%;
    }
    .contactus_form{
        grid-row: 3/5;
        padding: 15px;
        max-height: 700px;
    }.contactus_form form{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }.contactus_form form .block{
        grid-column: 1/5;
        max-height: 150px;
    }
    .contactus_form form p{
        font-size: 15px;
        grid-column: 1/5;
        max-height: 80px;
    }

    
    /*-----------GENERAL-----------*/
    .links_contacto_servicio {
        grid-template-columns: repeat(3 ,1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .titulo_links_contacto {
        font-size: 40px;
    }
    .link_servicio a {
        margin: 10px auto 10px auto;
    }
    .link_correo{
        grid-column: 1/4;
        border-radius: 0px;
    }
    .link_whatsapp{
        grid-column: 1/4;
        border-radius: 0px;
    }
    .link_messenger{
        grid-column: 1/4;
        border-radius: 0px 0px 15px 15px;
    }
    .correo_img{
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }
    .whatsapp_img{
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }
    .messenger_img {
        width: 30%;
        display: block;
        margin: 7px auto 7px auto;
    }
    .go_back {
        display: block;
        margin-top: 70%;
    }

    /*-------------------------------------CONTACT US-------------------------------------*/
    .contactus_form h1 {
        font-size: 150%;
    }
    .contact_us {
        width: 30%;
    }
}